@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  color: #002f9a; }
  header nav {
    width: 30%;
    margin-top: 1rem; }
    header nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      font-size: 22px; }
      header nav ul li {
        list-style-type: none; }
        header nav ul li a {
          text-decoration: none; }
  header .login .login-headline {
    border-right: 1px solid lightgrey;
    padding: 0 1rem 0 1rem; }
  header .login img {
    padding: 0 1rem 0 1rem; }

.carousel {
  width: 100%;
  height: 80vh;
  margin-top: 1rem;
  color: #fff; }
  .carousel .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../images/img-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
    .carousel .img-container .headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 80%;
      margin: auto; }
      .carousel .img-container .headline .promotion {
        width: 40%; }
        .carousel .img-container .headline .promotion h1 {
          font-size: 50px; }
        .carousel .img-container .headline .promotion p {
          font-size: 24px; }
        .carousel .img-container .headline .promotion .btn {
          width: 180px;
          height: 60px;
          border: none;
          margin-top: 1.5rem;
          font-size: 24px;
          font-weight: bold;
          background-color: #002f9d;
          color: #fff; }
      .carousel .img-container .headline .nav-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .carousel .img-container .headline .nav-arrow .navigate {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 50px;
          height: 50px;
          margin-left: 1.5rem;
          border-radius: 50%;
          border: 1px solid #d3d3d3; }

.commodity-area {
  width: 80%;
  margin: 4rem auto;
  text-align: center; }
  .commodity-area span {
    text-transform: uppercase;
    color: #7e7e7e; }
  .commodity-area h1 {
    font-size: 50px;
    color: #002f9d;
    margin-bottom: 2rem; }
  .commodity-area .amenities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    color: #021f59; }
    .commodity-area .amenities .amenity {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 50%;
      padding: 2rem; }
      .commodity-area .amenities .amenity .icon .icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #F0F0F0; }
    .commodity-area .amenities .info {
      width: 60%;
      text-align: justify;
      margin-left: 2rem; }
      .commodity-area .amenities .info h4 {
        font-size: 24px;
        margin-bottom: 1rem; }
  .commodity-area .offers {
    background-color: #002f9d;
    width: 100%; }
