@mixin main {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $font-family;
    }
}

@mixin flex($justify-content, $align-items, $wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
}

@mixin btn-style {
    width: 180px;
    height: 60px;
    border: none;
    margin-top: 1.5rem;
    font-size: 24px;
    font-weight: bold;
    background-color: $secondary-blue;
    color: $base-white;
    cursor: pointer;

}

@mixin background-image($background-position, $repeat, $background-size) {
    background-position: $background-position;
    background-repeat: $repeat;
    background-size: $background-size;

}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet-up {
    @media (min-width: $mobile) and (max-width: $tablet-min) {
        @content;
    }
}

@mixin desktop-up {
    @media (min-width: $tablet-min) and (max-width: $desktop) {
        @content;
    }
}